
refilc/.flutter-plugins
refilc/.flutter-plugins-dependencies
refilc/pubspec.lock
refilc/.dart_tool/
# refilc/android/
# refilc/ios/
# refilc/windows/
# refilc/linux/
# refilc/macos/
refilc/build/

refilc_desktop_ui/.flutter-plugins
refilc_desktop_ui/.flutter-plugins-dependencies
refilc_desktop_ui/pubspec.lock
refilc_desktop_ui/.dart_tool/

refilc_kreta_api/.flutter-plugins
refilc_kreta_api/.flutter-plugins-dependencies
refilc_kreta_api/pubspec.lock
refilc_kreta_api/.dart_tool/

refilc_mobile_ui/.flutter-plugins
refilc_mobile_ui/.flutter-plugins-dependencies
refilc_mobile_ui/pubspec.lock
refilc_mobile_ui/.dart_tool/

filcnaplo_premium/.flutter-plugins
filcnaplo_premium/.flutter-plugins-dependencies
filcnaplo_premium/pubspec.lock
filcnaplo_premium/.dart_tool/

.vscode
.github
.idea
.gitmodules
.gradle

refilc/.DS_Store
.DS_Store
refilc/linux/flutter/
refilc/macos/flutter/
.plugin_symlinks/
refilc/ios/Flutter/flutter_export_environment.sh
refilc/ios/Flutter/Generated.xcconfig
refilc/ios/Runner/GeneratedPluginRegistrant.h
refilc/ios/Runner/GeneratedPluginRegistrant.m
