
filcnaplo/.flutter-plugins
filcnaplo/.flutter-plugins-dependencies
filcnaplo/pubspec.lock
filcnaplo/.dart_tool/
filcnaplo/android/
filcnaplo/ios/
filcnaplo/windows/
filcnaplo/linux/
filcnaplo/macos/
filcnaplo/build/

filcnaplo_desktop_ui/.flutter-plugins
filcnaplo_desktop_ui/.flutter-plugins-dependencies
filcnaplo_desktop_ui/pubspec.lock
filcnaplo_desktop_ui/.dart_tool/

filcnaplo_kreta_api/.flutter-plugins
filcnaplo_kreta_api/.flutter-plugins-dependencies
filcnaplo_kreta_api/pubspec.lock
filcnaplo_kreta_api/.dart_tool/

filcnaplo_mobile_ui/.flutter-plugins
filcnaplo_mobile_ui/.flutter-plugins-dependencies
filcnaplo_mobile_ui/pubspec.lock
filcnaplo_mobile_ui/.dart_tool/

filcnaplo_premium/.flutter-plugins
filcnaplo_premium/.flutter-plugins-dependencies
filcnaplo_premium/pubspec.lock
filcnaplo_premium/.dart_tool/
filcnaplo_premium/android/

.vscode
.github
.idea
.gitmodules
