  [Desktop Entry]
  Name=reFilc
  Comment=Nem hivatalos e-napló alkalmazás az eKRÉTA rendszerhez
  Exec=refilc
  Icon=icon.png
  Terminal=false
  Type=Application
  Categories=Education;